- visitor = notification.visitor
- visited = notification.visited


- case notification.action
- when 'follow'
  = "#{visitor.name}さんから友達申請依頼が届いています"
- when 'accept'
  = "#{visitor.name}さんがあなたの友達申請依頼を承認しました"